<input type="text" value="All" ng-model="filteringText" class="input-text" ng-focus="showDropdown=true; bindClickHandler();" ng-init="showDropdown=false" />
<div>
	<div class="filter" ng-show="showDropdown" style="float:left">
		<ul>
			<li ng-repeat="item in collection | filter : filteringText | limitTo : 10">
				<input type="checkbox" ng-model="item.selected" ng-change="addOrRemove(item.name)">{{ item.name }}
			</li>
		</ul>
	</div>
	<div ng-show="showDropdown && selectedItems.length > 0" style="float:left; left: 215px; position: absolute;">
		<pre><b ng-repeat="sel in selectedItems">{{sel}}<br /></b></pre>
	</div>
</div>


