<input type="text" value="All" ng-model="filteringText" class="input-text" ng-focus="openDropdown()" ng-blur="filteringText=''"
       ng-change="retrieveItems(filterName, filteringText)" placeholder="{{ placeholder }}"/>
<div>
	<div class="filter" ng-show="isActive">
		<ul>
            <li ng-repeat="item in collection | limitTo : 100">
                <div ng-hide="item.selected">
				    <input type="checkbox" ng-model="item.selected" ng-change="addOrRemove(item)"/>
                    <span ng-bind-html="item.name | highlightMatcher : filteringText"></span>
                </div>
			</li>
		</ul>
	</div>
	<div class="filter-selected-items" ng-show="isActive && selectedItems.length > 0">
		<div ng-repeat="selectedItem in selectedItems">
            <input type="checkbox" ng-model="selectedItem.selected" ng-change="addOrRemove(selectedItem)"/> {{ selectedItem.name }}
        </div>
	</div>
</div>


